:root {
  --blu: #17104a;
  --liublu: #00b3e0;
}
html {
  width: 100%;
  height: 100%;
  font-family: kulturista-web, serif;
}
body {
  background-color: #FFF;
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
p {
  font-family: kulturista-web, serif;
  color: var(--blu);
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: #FFF;
  font-family: auto-pro-new, sans-serif;
}
h2 {
  color: var(--blu);
  font-family: auto-pro-new, sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}
h3 {
  color: var(--blu);
  font-family: kulturista-web, serif;
  font-size: 1.1rem;
  margin: 0;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: var(--blu);
  align-items: center;
  justify-content: space-around;
  position: sticky;
  z-index: 1;
  top: 0;
}
.selections {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.random {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.related {
  width: 18rem;
}
.relatedName {
  width: 80%;
}
.info {
  width: 80%;
  padding: 3rem 1rem;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageName {
  margin-top: 2rem;
  text-align: center;
}

/* ---button--- */
button {
  background-color: inherit;
  font-family: kulturista-web, serif;
  font-weight: 400;
  color: white;
  border: none;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.button_color {
  width: 30px;
  height: 50px;
}
.button_color2 {
  width: 30px;
  height: 50px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
.KnappProg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: auto-pro-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  height: 7rem;
  width: 18rem;
  background-color: #EEE;
  box-shadow: var(--blu) .3rem .3rem;
  transition: .1s;
  border-radius: 15px;
  padding: 0 1rem;
  margin: .2rem 0;
}
.KnappProg:hover {
  box-shadow: var(--liublu) .3rem .3rem;
  transition: .1s;
}
.knapp {
  display: flex;
  color: var(--blu);
  height: 7rem;
  width: 7rem;
  background-color: #EEE;
  box-shadow: var(--blu) .3rem .3rem;
  transition: .1s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 25px;
  transition: background-color 0.5s ease-out 100ms;
}
.knapp:hover {
  box-shadow: var(--liublu) .3rem .3rem;
  transition: .1s;
}
.knapp h2 {
  margin: 0;
}
.pics {
  display: flex;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}
.groupLogo {
  width: 10rem;
  margin: 0 1rem;
}
.groupClothes {
  width: 5rem;
  margin: 0 1rem;
}

/* ---searchbar--- */
.search {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown {
  max-height: 7rem;
  overflow-y: scroll;
  width: 80%;
  position: absolute;
  margin-top: 3.5rem;
}
.dropdown-row {
  padding: .2rem 0;
}
input {
  width: 80%;
  height: 2rem;
  margin: 1rem 1rem 0 1rem;
}
::placeholder{
   font-family: kulturista-web, serif;
}

/* ---images--- */
.campuskollenlogo {
  width: 6rem;
}
.flaggalogo {
  width: 3rem;
  border: solid;
}
.backarrow {
  width: 3rem;
}