.Knapp {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 150px;
  width: 150px;
  background-color: darkkhaki;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 1s ease-out 100ms
}

.Knapp:hover {
  background-color: turquoise;
}

.KnappProg {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 80px;
  width: 500px;
  background-color: darkkhaki;
  align-items: left;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.KnappWrapper1 {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 20px;
}

.Home {

}

.Wrapper{

}
.Dropdown{

}
.Searchbar{
  
}