.Knapp {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 150px;
  width: 150px;
  background-color: #CCC;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.5s ease-out 100ms
}

.Knapp:hover {
  background-color: turquoise;
}
.removeUnderline {
  text-decoration: none;
}

.KnappProg {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 60px;
  width: 400px;
  background-color: #B9D9EB;
  align-items: left;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}
.Flagga {
  background-color: black;
}

.KnappWrapper1 {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 20px;
}

.Home {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.Wrapper{

}
.Dropdown{

}
.Searchbar{
  
}
.button_color{
  width: 30px;
  height: 50px;
}